In [1]:
import pandas as pd

In [ ]:
# read our raw data and convert to correct date
df = pd.read_csv("../Data/raw/ecommerce_data.csv")
df.info()
df.describe()

df['order_date'] = pd.to_datetime(df['order_date'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           5000 non-null   int64
 1   order_date         5000 non-null   object
 2   customer_id        5000 non-null   int64
 3   product_id         4857 non-null   object
 4   category           4815 non-null   object
 5   quantity           4792 non-null   float64
 6   price_per_unit     4700 non-null   float64
 7   payment_method     4705 non-null   object
 8   total_order_value  5000 non-null   float64
 9   order_status       5000 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 390.8+ KB

In [12]:
df.head()

,order_id,order_date,customer_id,product_id,category,quantity,price_per_unit,payment_method,total_order_value,order_status
0,1,2025-08-01,1,27119-DZ-899,Gaming,266.0,85.0,NaN,3.67,Completed
1,2,2025-02-07,2,26146-NL-790,Food - Frozen Meals,413.0,277.0,PayPal,628.27,Completed
2,3,2024-12-02,3,37749-LM-063,Outdoor,62.0,198.0,credit card,744.04,Completed
3,4,2025-07-12,4,40389-ZB-335,Food - Soups,663.0,423.0,Apple Pay,351.96,Completed
4,5,2024-11-27,5,08514-MQ-037,Pets,104.0,244.0,debit card,127.05,Completed

In [ ]:
# Some of the columns have missing values
# I will be removing those rows comepletely to conduct an accurate analysis.
df.drop_duplicates()
df.dropna() 
# removed duplicate data and rows with missing values
# we started with 5k rows in our raw data

,order_id,order_date,customer_id,product_id,category,quantity,price_per_unit,payment_method,total_order_value,order_status
1,2,2025-02-07,2,26146-NL-790,Food - Frozen Meals,413.0,277.0,PayPal,628.27,Completed
2,3,2024-12-02,3,37749-LM-063,Outdoor,62.0,198.0,credit card,744.04,Completed
3,4,2025-07-12,4,40389-ZB-335,Food - Soups,663.0,423.0,Apple Pay,351.96,Completed
4,5,2024-11-27,5,08514-MQ-037,Pets,104.0,244.0,debit card,127.05,Completed
5,6,2025-05-31,6,70762-XZ-525,Fitness,875.0,422.0,Apple Pay,234.68,Returned
...,...,...,...,...,...,...,...,...,...,...
4993,994,2025-03-15,994,61939-JQ-205,Food - Seafood,407.0,81.0,credit card,723.45,Completed
4995,996,2025-01-01,996,06791-ZY-512,Garden,86.0,154.0,Google Pay,750.55,Completed
4996,997,2025-06-24,997,83634-KO-380,Art Supplies,469.0,427.0,Google Pay,25.00,Pending
4997,998,2025-02-03,998,36159-HH-480,Food - Frozen,849.0,298.0,debit card,784.87,Pending
4998,999,2025-06-12,999,17531-UN-740,Food - Desserts,449.0,162.0,credit card,65.19,Completed