In [1]:
import pandas as pd
import os

In [2]:
# read our raw data and convert to correct date
df = pd.read_csv("../Data/raw/ecommerce_data.csv")
df.info()
df.describe()

df['order_date'] = pd.to_datetime(df['order_date'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           5000 non-null   int64
 1   order_date         5000 non-null   object
 2   customer_id        5000 non-null   int64
 3   product_id         4857 non-null   object
 4   category           4815 non-null   object
 5   quantity           4792 non-null   float64
 6   price_per_unit     4700 non-null   float64
 7   payment_method     4705 non-null   object
 8   total_order_value  5000 non-null   float64
 9   order_status       5000 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 390.8+ KB

In [3]:
df.head()

,order_id,order_date,customer_id,product_id,category,quantity,price_per_unit,payment_method,total_order_value,order_status
0,1,2025-08-01,1,27119-DZ-899,Gaming,266.0,85.0,NaN,3.67,Completed
1,2,2025-02-07,2,26146-NL-790,Food - Frozen Meals,413.0,277.0,PayPal,628.27,Completed
2,3,2024-12-02,3,37749-LM-063,Outdoor,62.0,198.0,credit card,744.04,Completed
3,4,2025-07-12,4,40389-ZB-335,Food - Soups,663.0,423.0,Apple Pay,351.96,Completed
4,5,2024-11-27,5,08514-MQ-037,Pets,104.0,244.0,debit card,127.05,Completed

In [4]:
# drop all rows with missing values to make analysis more consistent
df = df.dropna()
df = df.drop_duplicates()
# fixed column values by adding correct formular for another row
df['total_order_value'] = df['quantity'] * df['price_per_unit']

# all columns have same number of rows now
df.head()
df.count()

order_id             3953
order_date           3953
customer_id          3953
product_id           3953
category             3953
quantity             3953
price_per_unit       3953
payment_method       3953
total_order_value    3953
order_status         3953
dtype: int64

In [ ]:
df.head(15)

# export cleaned data to a new csv we will use for our analysis
folder_path = '../Data/processed'  
file_name = 'clean_data.csv'

# join the path with the file name
path = os.path.join(folder_path, file_name)
# converts to csv and saves it to folder 'processed'
df.to_csv(path, index=False)