In [49]:
import pandas as pd
import sqlite3
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [50]:
# Load cleaned dataset
df = pd.read_csv("../Data/processed/clean_data.csv")

# Connect to SQLite database
conn = sqlite3.connect('../Data/ecommerce.db')

# Load into SQL table
df.to_sql('orders', conn, if_exists='replace', index=False)


# example on how to make queries and view them
# each one is saved in their appropriate variable
# this shows monthly sales for different years
create_view_query = """
CREATE VIEW IF NOT EXISTS sales_by_time AS
SELECT strftime('%Y-%m', order_date) AS month,
       SUM(total_order_value) AS total_sales
FROM orders
GROUP BY month;
"""
conn.execute(create_view_query)

query = "SELECT * FROM sales_by_time"
df_view = pd.read_sql_query(query, conn)
df_view

      month  total_sales
0   2024-08   36902808.0
1   2024-09   46326247.0
2   2024-10   43686836.0
3   2024-11   43496373.0
4   2024-12   45782748.0
5   2025-01   40374144.0
6   2025-02   36706277.0
7   2025-03   47996471.0
8   2025-04   34678051.0
9   2025-05   42484867.0
10  2025-06   43411695.0
11  2025-07   44383539.0
12  2025-08    3580359.0