In [20]:
import pandas as pd
import sqlite3

In [ ]:
# Load cleaned dataset
df = pd.read_csv("../Data/processed/clean_data.csv")

# Connect to SQLite database
conn = sqlite3.connect('../Data/ecommerce.db')

# Load into SQL table
df.to_sql('orders', conn, if_exists='replace', index=False)

query = "SELECT * FROM orders LIMIT 10" # test/example query
df = pd.read_sql_query(query, conn)
df

,order_id,order_date,customer_id,product_id,category,quantity,price_per_unit,payment_method,total_order_value,order_status
0,2,2025-02-07,2,26146-NL-790,Food - Frozen Meals,413.0,277.0,PayPal,114401.0,Completed
1,3,2024-12-02,3,37749-LM-063,Outdoor,62.0,198.0,credit card,12276.0,Completed
2,4,2025-07-12,4,40389-ZB-335,Food - Soups,663.0,423.0,Apple Pay,280449.0,Completed
3,5,2024-11-27,5,08514-MQ-037,Pets,104.0,244.0,debit card,25376.0,Completed
4,6,2025-05-31,6,70762-XZ-525,Fitness,875.0,422.0,Apple Pay,369250.0,Returned
5,9,2024-08-05,9,21920-VO-783,Food - Frozen Meals,527.0,277.0,Venmo,145979.0,Completed
6,11,2025-07-02,11,37571-WQ-095,Food - Produce,944.0,476.0,Google Pay,449344.0,Completed
7,12,2025-02-01,12,68078-MG-360,Electronics,980.0,455.0,debit card,445900.0,Completed
8,13,2025-03-06,13,44952-JN-189,Home,249.0,376.0,credit card,93624.0,Cancelled
9,14,2025-06-22,14,82573-SW-585,Food - Baking,614.0,363.0,Venmo,222882.0,Completed