In [1]:
import pandas as pd
import sqlite3
%load_ext sql

In [2]:
# Load cleaned dataset
df = pd.read_csv("../Data/merged/main_dataset.csv")

# Connect to SQLite database
conn = sqlite3.connect('../Data/ecommerce.db')

# Load into SQL table
df.to_sql('orders', conn, if_exists='replace', index=False)

116717

In [3]:
# preview of data
query = """
SELECT *
FROM orders
"""

df_view = pd.read_sql_query(query, conn)
df_view

,order_id,customer_id,order_status,purchase_timestamp,approved_timestamp,carrier_delivery_timestamp,customer_delivery_timestamp,estimated_delivery_date,items_quantity,product_id,...,review_creation_date,review_answer_timestamp,customer_lat,customer_lng,customer_geo_city,customer_geo_state,seller_lat,seller_lng,seller_geo_city,seller_geo_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1,87285b34884572647811a353c7ac498a,...,2017-10-11,2017-10-12 03:43:48,-23.575377,-46.587410,sao paulo,SP,-23.681607,-46.441143,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1,87285b34884572647811a353c7ac498a,...,2017-10-11,2017-10-12 03:43:48,-23.575377,-46.587410,sao paulo,SP,-23.681607,-46.441143,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1,87285b34884572647811a353c7ac498a,...,2017-10-11,2017-10-12 03:43:48,-23.575377,-46.587410,sao paulo,SP,-23.681607,-46.441143,maua,SP
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,1,595fac2a385ac33a80bd5114aec74eb8,...,2018-08-08,2018-08-08 18:37:50,-12.169860,-44.988369,barreiras,BA,-19.810119,-43.984727,belo horizonte,MG
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,1,aa4383b373c6aca5d8797843e5594415,...,2018-08-18,2018-08-22 19:07:58,-16.746337,-48.514624,vianopolis,GO,-21.362358,-48.232976,guariba,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116712,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02,1,f1d4ce8c6dd66c47bbaa8c6781c2a923,...,2018-03-01 00:00:00,2018-03-02 17:50:01,-24.001467,-46.446355,praia grande,SP,-21.925738,-50.503401,tupa,SP
116713,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27,1,b80910977a37536adeddd63663f916ad,...,2017-09-22 00:00:00,2017-09-22 23:10:57,-17.891522,-39.370942,nova vicosa,BA,-23.560872,-46.450700,sao paulo,SP
116714,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,1,d1c427060a0f73f6b889a5c7c61f2ac4,...,2018-01-26 00:00:00,2018-01-27 09:16:56,-22.555985,-42.690761,japuiba,RJ,-20.936073,-45.832034,ilicinea,MG
116715,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,2,d1c427060a0f73f6b889a5c7c61f2ac4,...,2018-01-26 00:00:00,2018-01-27 09:16:56,-22.555985,-42.690761,japuiba,RJ,-20.936073,-45.832034,ilicinea,MG
116716,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03,1,006619bbed68b000c8ba3f8725d5409e,...,2018-03-17 00:00:00,2018-03-17 16:33:31,-25.775722,-49.723981,lapa,PR,-20.502342,-47.421590,franca,SP

KPI's Below